html, body {
    margin: 0;
    padding: 0;
    font-family: "Consolas";
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

body nav a:hover {
    background-color: #6F6F6F;
}

body {
    background-color: #C3C3C3;
}

body header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

body ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body ul li{
    display: inline;
    margin: 0 10px;
}

body ul li a {
    display: block;
    background-color: grey;
    font-size: 50px;
    padding: 20px;
    border: solid;
}

body header p {
    font-size: 20px; 
    text-align: center;
    width: 25%;
}

body main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 20px;
}
